.app-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    padding: 20px;
    margin-top: auto;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
  }
  
  @media (prefers-color-scheme: dark) {
    .app-footer {
      background-color: #1c1c1c;
      color: #aaa;
      border-top: 1px solid #444;
    }
  }